.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-title {
  display: flex;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  color: midnightblue;
}

.Name-form {
  display: flex;
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 8px;
}

.App-logo {
  border-radius: 80%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  width: 40%;
}

.Avatar-pic {
  display: flex;
  margin: auto auto;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.App-header {
  background-color: midnightblue;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: powderblue;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
  align-items: center;
  text-align: right;
}

.Messages-message-received {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.Messages-message-sent {
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.Messages-message .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Messages-message .message-content {
  display: flex;
  align-items: center;
}

.message-nickname {
  display: flex;
  color: black;
  font-size: 14px;
  margin-bottom: 4px;
}


.Messages-message .message-text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  display: inline-block;
}

.Messages-message-received .message-content {
  flex-direction: row;
  align-items: flex-start;
}

.Messages-message-received .message-text {
  background-color: mediumaquamarine;
  color: white;
}

.Messages-message-sent .message-content {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.Messages-message-sent .message-text {
  background-color: mediumblue;
  color: white;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

.Input-mess {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid orangered;
  flex-grow: 1;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid lightblue;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: lightskyblue;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

/* Additional styles for sent and received messages */
.message {
  display: flex;
  justify-content: flex-start;
}

.sent {
  justify-content: flex-end;
}

.received {
  justify-content: flex-start;
}

.message-content {
  padding: 10px;
  max-width: 300px;
  margin: 0;
  border-radius: 12px;
  display: inline-block;
  color: white;
}

.sent .message-content {
  background-color: lightskyblue;
}

.received .message-content {
  background-color: lightslategray;
}
