.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.App-title {
  display: flex;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  color: midnightblue;
}
.Name-form {
  display: flex;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  
}
.App-logo {
  border-radius: 80%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  width: 40%;
}
.Avatar-pic {
  display: flex;
  margin: auto auto;
  justify-content: center;
  height: 300px;
  width: 300px;
}
.App-header {
  background-color: midnightblue;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: powderblue;
}


.Messages-list {
  padding: 20px 0; 
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember  .Message-content {
  align-items: flex-end;
}

.Messages-message  .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content  .username {
  display: block;
  color: turquoise;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content  .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: peru;
  color: white;
  display: inline-block;
}

.currentMember  .Message-content .text {
  background-color: mediumaquamarine;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

.Input-mess {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid orangered;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: thistle;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}